.classroomcontainer {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.classroomsection {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.classroomcalendar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
